@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400&display=swap');

* {
  font-family: 'Geologica', sans-serif;
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
}

/* App */
.app {
  max-width: 75%;
  margin: auto;
  text-align: center;
  padding-top: 0.5rem;
}

/* Emoji Input */
input {
  width: 100%;
  height: 3rem;
  font-size: 1.1rem;
  margin-top: 1rem;
  border: 2px solid black;
  padding: 0rem 0.5rem;
}

/* Emoji Information Output */
.emoji-info-container {
  margin: 1.5rem;
  font-size: 1.2rem;
}

/* Footer */
footer {
  padding: 0rem 4rem;
}